.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

.header {
    padding-top: 10px;
    padding-right: 150px;
    padding-bottom: 150px;
    padding-left: 150px;
}

.header_menu {
    display: flex;
    margin-bottom: 100px;
}

.logo {
    flex: 1;
    align-items: flex-start;
    font-size: 24px;
    padding-top: 20px;
}

.header_link {
    flex: 1;
    display: flex;
    justify-content: center;
}

.h_link {
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.h_main {
    display: flex;
}

.h_main_left {
    padding-right: 150px;
}

.h_main_left h1 {
    font-size: 48px;
    max-width: 400px;
    flex: 1;

}

.h_main_left p {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 400px;
}

.sign_up {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.sign_up:hover {
    background-color: white;
    border: 2px solid white;
    color: #3882F6;
}

.h_main_image img {
    flex: 1;
    width: 475px;
    height: 325px;
}

.quad_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.q_images {
    display: flex;
    column-gap: 45px;
}

.q_images li img {
    width: 200px;
    height: 150px;
    flex: 1;
    border-radius: 20px;
}

figcaption {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 40px 200px;
}

.quote_p {
    font-style: italic;
}

.quote_name {
    font-weight: bold;
    text-align: end;
}

.call {
    background-color: #3882F6;
    padding: 30px 150px;
    margin: 150px 200px;
    border-radius: 10px;
    display: flex;
}

.call_text {
    flex: 1;
    color: white;
}

.call_action {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.call_p {
    margin-top: 0;
}

.call_button {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.c_button {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.c_button:hover {
    background-color: white;
    color: #3882F6;
}

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}